{{#isHeaderParam}}{{#useBeanValidation}}{{^skipDefaultInterface}}{{>beanValidationQueryParams}}{{/skipDefaultInterface}}{{/useBeanValidation}}{{>paramDoc}} @RequestHeader(value = "{{baseName}}", required = {{#required}}{{#skipDefaultInterface}}false{{/skipDefaultInterface}}{{/required}}{{#required}}{{^skipDefaultInterface}}true{{/skipDefaultInterface}}{{/required}}{{^required}}false{{/required}}{{#defaultValue}}, defaultValue = "{{{.}}}"{{/defaultValue}}){{>dateTimeParam}} {{>optionalDataType}} {{paramName}}{{/isHeaderParam}}
